@inherits Umbraco.Web.Mvc.UmbracoViewPage
    
@using Umbraco.Web.PublishedModels

@{
	Layout = "Master.cshtml";
}

<div id="map" style="height: 650px; width: 100%; border: 1px solid #AAA;"></div>

<div id="forecast"></div>

